@model SOFT703A2.Infrastructure.Contracts.ViewModels.Auth.ILoginViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="col-md-4 offset-md-4">
    <h2>Login</h2>
    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" type="password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary bg-green btn-custom">Login</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>