@model SOFT703A2.Infrastructure.Contracts.ViewModels.User.ICreateUserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="col-md-6 offset-md-3">
    <form asp-controller="User" asp-action="Add" method="post">
        <table>
            <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="FirstName">FirstName</label>
                        <input asp-for="FirstName" class="form-control"/>
                        <span asp-validation-for="FirstName" class="text-danger"></span>

                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label asp-for="LastName">LastName</label>
                        <input asp-for="LastName" class="form-control"/>
                        <span asp-validation-for="LastName" class="text-danger"></span>

                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" class="form-control"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label asp-for="PhoneNumber">PhoneNumber</label>
                        <input asp-for="PhoneNumber" class="form-control"/>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label asp-for="SelectedRole">Role</label>
                        <select asp-for="SelectedRole" class="form-control" id="SelectedRole">
                            @foreach (var role in Model.Roles)
                            {
                                <option value="@role.Value">@role.Text</option>
                            }
                        </select>
                        <span asp-validation-for="SelectedRole" class="text-danger"></span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary bg-green btn-custom">Create</button>
    </form>
</div>